@import 'include/boilerplate';
@import 'include/ios-style-switch';

#instanceConfig {
  span.warn {
    color:red;
    font-style:italic;
    font-size:14px;
  }
  li {
    background-color: #EBEAEA;
    border-radius: 16px 16px 16px 16px;
    color: black;
    margin: 5px 20px;
    padding: 0 4px 0 20px;
    text-align: left;
  }
  label {
    width:auto;
  }
  input {
    width:auto;
  }
  input[type="text"] {
    border: 1px solid black;
    color: blue;
    width: auto;
  }
  
  div#instance_name {
    input {
      width:260px;
    }
    button {
      height:26px;
      width:64px;
    }
  }
}


// Variables
$userCountList: #6B3681;

//
// Mixins
//

@mixin pointer-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
}

@mixin icon($path) {
  background-image:url($path);
  position:absolute;
  margin:6px 8px;
  width:32px;
  height:32px;
}

@mixin dynamic-item-list {
  li {
    text-align: center;
    margin: 0;
    line-height:2.4em;
  }
  li.entry:nth-child(odd) {
    background-color: rgba(255,255,255,0.1);
  }
  li.entry {
    background-color:black;
    position:relative;
    border-radius:12px;
    .deleteButton {
      @include pointer-no-select;
      @include icon("/img/minus.png");
      top:0;
      right:0px;
    }
  }
  li.entry > div.icon {
    left:0;
  }
  li.user {
    .icon {
      @include icon("/img/Person.png");
    }
  }
  li.folder {
    .icon {
      @include pointer-no-select;
      @include icon("/img/folder.png");  
    }
    .userCount {
      @include pointer-no-select;
      @include icon("/img/users.png");
      background-color:$userCountList;
      border-radius:12px;
      font-size:0.8em;
      // margin:6px, ;
      top:0;
      left:36px;
    }
    .userCount.showingChildren {
      border-radius:12px 12px 0 0;
    }
    .permittedUsers {
      display:none;
      border-radius: 0px 12px 12px 12px;
      background-color:$userCountList;
      margin:auto 44px;
      div.permittedUser {
        position:relative;
        div.icon {
          @include icon("/img/user.png");
          top:0;
          left:0;
        }
        div.revokeButton {
          @include pointer-no-select;
          @include icon("/img/minus-white.png");
          top:0;
          right:0;          
        }
      }
    }
  }
}

//
//  Admin dashboard
//

body {
  background-color: black;
  background-image: url(../img/fabric_1.png);
  color: #CCC;
  
}

header {
  background: #baceff; /* Old browsers */
  background: -moz-linear-gradient(top, #baceff 0%, #39445e 2%, #252b33 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#baceff), color-stop(2%,#39445e), color-stop(100%,#252b33)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #baceff 0%,#39445e 2%,#252b33 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #baceff 0%,#39445e 2%,#252b33 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #baceff 0%,#39445e 2%,#252b33 100%); /* IE10+ */
  background: linear-gradient(top, #baceff 0%,#39445e 2%,#252b33 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baceff', endColorstr='#252b33',GradientType=0 ); /* IE6-9 */
  
  padding: 15px;
  
  box-shadow: 0 2px 2px rgba(0,0,0, 0.85);
  text-shadow: 0px -2px 0 rgba(0,0,0, 0.65);
  
  font-size: 20pt;

  
}

#container {
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #CCC;
  text-shadow: 0px 1px 0 #FFF;
}

#flash {
  height:25px;
  margin-top:15px;
  //  this element really exposes how the margins/heights w/ panel are messing things up
  .errors {
    line-height:1.5em;
    color:#F82424;
  }
  .notice {
    line-height:1.5em;
    color:#00D01F;
  }
}

.padding {
  width: 100%;
}

#user_nav {
  float:right;
  font-size:0.6em;
  text-align:right;
  a {
    color:#FF443E;
    text-shadow:none;
    text-decoration:none;
  }
}

.panel#folders {
  float:left;
}

.panel {
  background-color: black;
  box-shadow: 0 5px 10px rgba(0,0,0,0.65);

  width: 450px;
  margin: 10px;
  
  border-radius: 5px;
  overflow: hidden;

  padding-bottom: 5px;
  margin:30px auto;
  
  overflow:visible;

  h1 {
    background: #baceff; /* Old browsers */
    background: -moz-linear-gradient(top, #baceff 0%, #39445e 2%, #252b33 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#baceff), color-stop(2%,#39445e), color-stop(100%,#252b33)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #baceff 0%,#39445e 2%,#252b33 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #baceff 0%,#39445e 2%,#252b33 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #baceff 0%,#39445e 2%,#252b33 100%); /* IE10+ */
    background: linear-gradient(top, #baceff 0%,#39445e 2%,#252b33 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baceff', endColorstr='#252b33',GradientType=0 ); /* IE6-9 */

    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 16pt;
    font-weight: normal;
    text-shadow: 0px -2px 0 rgba(0,0,0, 0.65);
  }
  h2 {
    text-align: center;
  }
  ul {
    margin: 5px 15px;
    list-style: none;
    padding: 0;
    .addButton {
      @include pointer-no-select;
      background: rgba(0,150,0,1);
    }
    .addButton:hover {
      background: rgba(0,130,0,1);
    }
    .cancelButton {
      background-color:#DD0200 !important;
    }
    .submitButton {
      @include pointer-no-select;
      background: #7F7000;
    }
    .submitButton:hover {
      background: #6E6100;
    }
    @include dynamic-item-list;
  }
  label {
    width: 110px;
    height: 16pt;
    text-align: right;
    display: inline-block;
    color: rgba(255,255,255,0.45);
  }
  input {
    margin: 5px;
    width: 280px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 5px;
    color: #CCC;
  }
  .errors {
    text-align:center;
    color:#FF2825;
  }
  hr {
    border:0;
    border-top: 1px solid rgba(255,255,255,0.35);
    margin: 10px 15px;
  }
}
