$userCountList: #6B3681;

@mixin pointer-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
}

@mixin icon($path) {
  background-image:url($path);
  position:absolute;
  margin:6px 8px;
  width:32px;
  height:32px;
}

@mixin dynamic-item-list {
  li {
    text-align: center;
    margin: 0;
    line-height:2.4em;
  }
  li.entry:nth-child(odd) {
    background-color: rgba(255,255,255,0.1);
  }
  li.entry {
    background-color:black;
    position:relative;
    border-radius:12px;
    .deleteButton {
      @include pointer-no-select;
      @include icon("/img/minus.png");
      top:0;
      right:0px;
    }
  }
  li.entry > div.icon {
    left:0;
  }
  li.user {
    .icon {
      @include icon("/img/Person.png");
    }
  }
  li.folder {
    .icon {
      @include pointer-no-select;
      @include icon("/img/folder.png");  
    }
    .userCount {
      @include pointer-no-select;
      @include icon("/img/users.png");
      background-color:$userCountList;
      border-radius:12px;
      font-size:0.8em;
      // margin:6px, ;
      top:0;
      left:36px;
    }
    .userCount.showingChildren {
      border-radius:12px 12px 0 0;
    }
    .permittedUsers {
      display:none;
      border-radius: 0px 12px 12px 12px;
      background-color:$userCountList;
      margin:auto 44px;
      div.permittedUser {
        position:relative;
        div.icon {
          @include icon("/img/user.png");
          top:0;
          left:0;
        }
        div.revokeButton {
          @include pointer-no-select;
          @include icon("/img/minus-white.png");
          top:0;
          right:0;          
        }
      }
    }
  }
}
