*.cert
*.key
certs/
live_segmenter
live_segmenter.dSYM/
dist/
build/
ScribbeoServerSetup.exe
._*
settings.json
clips/*
clips
*.app/
.DS_Store
dir/*
*.pyc
ScribbeoServer-*.exe
.sass-cache
db/db.sqlite3
work/
log/
tmp/
.DS_Store
