/*
Syntax error: Undefined mixin 'pointer-no-select'.
        on line 40 of app/views/stylesheets/admin.scss, in `pointer-no-select'
        from line 40 of app/views/stylesheets/admin.scss

35:   color: #CCC;
36:   text-shadow: 0px 1px 0 #FFF;
37: }
38: 
39: .koolButton {
40:   @include pointer-no-select;
41: }
42: 
43: #flash {
44:   height:25px;
45:   margin-top:15px;

Backtrace:
app/views/stylesheets/admin.scss:40:in `pointer-no-select'
app/views/stylesheets/admin.scss:40
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
(eval):3:in `each'
(eval):3:in `each_with_optional_block'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/sass-3.1.15/lib/sass/plugin/rack.rb:51:in `call'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/lint.rb:48:in `_call'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/lint.rb:36:in `call'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/showexceptions.rb:24:in `call'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/commonlogger.rb:20:in `call'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/chunked.rb:43:in `call'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/content_length.rb:14:in `call'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/thin-1.3.1/lib/thin/connection.rb:80:in `block in pre_process'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/thin-1.3.1/lib/thin/connection.rb:78:in `catch'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/thin-1.3.1/lib/thin/connection.rb:78:in `pre_process'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/thin-1.3.1/lib/thin/connection.rb:53:in `process'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/thin-1.3.1/lib/thin/connection.rb:38:in `receive_data'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/thin-1.3.1/lib/thin/backends/base.rb:61:in `start'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/thin-1.3.1/lib/thin/server.rb:159:in `start'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/handler/thin.rb:13:in `run'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/server.rb:265:in `start'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/lib/rack/server.rb:137:in `start'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/gems/rack-1.4.1/bin/rackup:4:in `<top (required)>'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/bin/rackup:19:in `load'
/Users/keyvan/.rvm/gems/ruby-1.9.3-p125@scribbeoserver/bin/rackup:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'pointer-no-select'.\A         on line 40 of app/views/stylesheets/admin.scss, in `pointer-no-select'\A         from line 40 of app/views/stylesheets/admin.scss\A \A 35:   color: #CCC;\A 36:   text-shadow: 0px 1px 0 #FFF;\A 37: }\A 38: \A 39: .koolButton {\A 40:   @include pointer-no-select;\A 41: }\A 42: \A 43: #flash {\A 44:   height:25px;\A 45:   margin-top:15px;"; }
