  <h1>Folders</h1>
  <div>
    <div class="padding" style="height:10px"></div>
    <ul>
      <% if user.admin? %>
        <li class="addButton">Add</li>
        <li data-type="folder" class="folder entryForm" style="display:none">
          <div class="errors"></div>
          <label>Name</label><input type="text" id="folderName"/>
          <div class="submitButton" data-url="<%= url('/admin/folder/create') %>">Create</div>
        </li>
      <% end %>
      <% if folders.empty? %>
        <li class="placeholder"><em>No folders added yet.</em></li>
      <% else folders.each do |f| %>
        <%= partial(:folder, :folder=>f) %>
      <% end end %>
    </ul>
  </div>