<div style="margin:30px;color:black">
<% unless request.user_agent =~ /(Mobile\/.+Safari)/ %>
  Please log in with your iPad to enroll your device and download Scribbeo.
<% else %>
  <p>Use the link above to enroll your device so that it may be authorized to install Scribbeo.</p>
  <p>Wait for your device to be provisioned and authorized. You will be notified by your administrator when this process is completed.</p>
  <p>After this process is complete, you may use the "Install Scribbeo" link to download and install Scribbeo directly to your device.</p>
<% end %>
</div>