<div id="loginForm" class="panel">
  <h1>Login</h1>
  <% unless @error.nil? %>
    <div class="error"><%= @error %></div>
  <% end %>
  <form action="/login" method="post">
    <div class="padding" style="height:10px"></div>
    <label style="width:100px">Username:</label><input name="username" value="" type="text" />
    <div class="padding" style="height:10px"></div>
    <label style="width:100px">Password:</label><input name="password" value="" type="password" />
    <div class="padding" style="height:10px"></div>

    <input class="loginSubmit" type="submit" value="Login" />
  </form>
</div>

<footer>
  <% if Settings.show_admin_password_hint %>
    Default username and password: admin / admin
    <a id="hide_admin_password_hint" title="Never show" href="<%= url('/hide_admin_password_hint') %>">x</a>
  <% end %>
</footer>